<h1>Welcome, merchant!</h1>
<section id="merchant_dashboard-<%=@merchant.id%>">
  <%= link_to 'Update password', '/user/edit-pw', class: 'btn btn-success' %>
  <p><%= @merchant.name %> </p>
  <p><%= @merchant.address %> </p>
  <p><%= @merchant.city %> </p>
  <p><%= @merchant.state %> </p>
  <p><%= @merchant.zip %> </p>
</section>
