<h1 align = "center">Merchant</h1>
<%= current_user.merchant.name %></br></br>
<%= current_user.merchant.address %>
<p><%= current_user.merchant.city %>
<%= current_user.merchant.state %>
<%= current_user.merchant.zip %></p>
<%= link_to "See My Items", "/merchant/dashboard/items" %>
