<h1>Welcome, merchant!</h1>
  <%= link_to 'Update password', '/user/edit-pw', class: 'btn btn-success' %>
<section id="merchant_dashboard-<%=@merchant.id%>">
  <p><%= @merchant.name %> </p>
  <p><%= @merchant.address %> </p>
  <p><%= @merchant.city %> </p>
  <p><%= @merchant.state %> </p>
  <p><%= @merchant.zip %> </p>
</section>

<%= link_to "View Items for #{@merchant.name}", "/merchant/items" %>
<section id="merchant_dashboard_orders">
  <% if @merchant.active_orders.count == 0 %>
    <h2>Currently there are no active orders </h2>
  <%end%>
    <% @merchant.active_orders.each do |order| %>
      <p>Order number: <%= link_to order.id, "/merchant/orders/#{order.id}" %></p> 
      <p>Created At:   <%= order.created_at %></p>
      <p>Total Qty:    <%= order.total_quantity %></p>
      <p>Total Order Sum: <%= order.grandtotal %> </p>
    <% end %>
    </table>
</section>
