<h1> <%= @user.name %>'s Profile Page </h1><br/><br/>

  <%= @user.name %><br/>
  <%= @user.address %><br/>
  <%= @user.city %><br/>
  <%= @user.state %><br/>
  <%= @user.zip %><br/>
  <%= @user.email %><br/><br/>

  <%= link_to "Edit Profile", "/profile/edit", class: 'btn btn-primary' %>
  <%= link_to 'Update password', '/user/edit-pw', class: 'btn btn-success' %>
  <%= link_to 'My Orders', '/profile/orders', class: 'btn btn-secondary' %> 
