<% @orders.each do |order| %>
<% if order.current_status == "packaged" %>
<section id = "order-packaged" >
  Order ID: <%= order.id %>
  Name: <%= order.name %>
  Created: <%= order.created_at %></section>
<% elsif order.current_status == "pending" %>
<section id = "order-pending">
  Order ID: <%= order.id %>
  Name: <%= order.name %>
  Created: <%= order.created_at %></section>
<% elsif order.current_status == "shipped" %>
<section id = "order-shipped">
  Order ID: <%= order.id %>
  Name: <%= order.name %>
  Created: <%= order.created_at %></section>
<% else order.current_status == "cancelled" %>
<section id = "order-cancelled">
  Order ID: <%= order.id %>
  Name: <%= order.name %>
  Created: <%= order.created_at %></section>
<% end %>
<% end %>
