<h1>Register</h1>

<%= form_tag '/users' do %>
  <%= label_tag :name %>

  <%= label_tag :address %>

  <%= label_tag :city %>

  <%= label_tag :state %>

  <%= label_tag :zip %>

  <%= label_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= label_tag :password_confirmation %>
  <%= password_field_tag :password_confirmation %>

  <%= submit_tag "Create New User" %>

<% end %>
