<h1><%= @user.name %>'s Profile</h1>
Address: <%= @user.address %></br>
City: <%= @user.city %></br>
State: <%= @user.state %></br>
Zip Code: <%= @user.zip_code %></br>
Email: <%= @user.email %></br>

<%= link_to "Edit Profile", "/profile/edit" %>
<%= link_to "My Orders", "/profile/orders" %>
