<%= link_to "Monster Shop", "/" %>
<%= link_to "All Merchants", "/merchants"%>
<%= link_to "All Items", "/items"%>
<%= link_to "Admin Dashboard", "/admin/dashboard" %>
<%= link_to "All Users", "/admin/users" %>
<%= link_to "Profile", "/profile" %>
<%= link_to "Log Out", '/logout', method: :delete %>
<p class= "login-nav-text">Logged in as <%= "#{current_user.name}" %></p>
