<%= link_to "Cart: #{cart.total_items}", "/cart" %>
<%= link_to "Merchant Dashboard", "/merchant/dashboard" %>
<%= link_to "Profile", "/profile" %>
<%= link_to "Monster Shop", "/" %>
<%= link_to "All Merchants", "/merchants"%>
<%= link_to "All Items", "/items"%>
<%= link_to "Log Out", '/logout', method: :delete %>
<p class= "login-nav-text">Logged in as <%= "#{current_user.name}" %></p>
