<h1 align = "center">Merchants</h1>
<p align="center"><%= link_to "New Merchant", "/merchants/new" %></p>
<table>
  <th>Merchant</th><th>City</th><th>State</th><th>Action</th>
  <% @merchants.each do |merchant|%>
    <tr id="merchant-<%= merchant.id %>">
      <td><b><%=link_to merchant.name, @path + "merchants/#{merchant.id}"%></b></td>
      <td><%= merchant.city %></td>
      <td><%= merchant.state %></td>
      <td>
        <% if merchant.active? %>
          <%= button_to 'Deactivate', "/admin/merchants/#{merchant.id}?status=deactivate", method: :patch, class: 'btn btn-danger', id: 'merchant-deactivate' %>
        <% else %>
          <%= button_to 'Activate', "/admin/merchants/#{merchant.id}?status=activate", method: :patch %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
