add osmething in from the controller ... this is the dashmerch inedex but for the adminh 
<h1>Welcome, merchant! </h1>
  <%= link_to 'Update password', '/user/edit-pw', class: 'btn btn-success' %>
<section id="merchant_dashboard-<%=@merchant.id%>">
  <p><%= @merchant.name %> </p>
  <p><%= @merchant.address %> </p>
  <p><%= @merchant.city %> </p>
  <p><%= @merchant.state %> </p>
  <p><%= @merchant.zip %> </p>
</section>

<%= link_to "View Items for #{@merchant.name}", "/admin/#{@merchant.id}/items" %>
<section id="merchant_dashboard_orders">
  <table>
    <% @merchant_active_orders.each do |order| %>
      <tr>  <p>Order number: <%= link_to order.id, "/merchant/orders/#{order.id}" %></p> </tr>
      <tr><p>Created At:   <%= order.created_at %></p></tr>
      <tr><p>Total Qty:    <%= order.total_quantity %></p></tr>
      <tr><p>Total Order Sum: <%= order.grandtotal %> </p></tr>
    <% end %>
    </table>
</section>
