<h1><%= @user.name %>'s Orders</h1>

<% @user.orders.each do |order| %>
  <section class="shipping-address">
      <ul>
        <li><b>Order ID:</b> <%= link_to "#{order.id}", "/profile/orders/#{order.id}" %></li>
        <li><b>Name on Order:</b> <%= order.name %></li>
        <li><b>Address:</b> <%= order.address %>, <%= order.city %>,
          <%= order.state %> <%= order.zip %></li>
        <li><b>Order Status:</b> <%=order.current_status.upcase%></li>
      </ul>
  </section>
    <% order.item_orders.each do |item_order| %>
  <section id="item-<%= item_order.item.id %>">
    <ul>
      <li><%= link_to "#{item_order.item.name}", "/items/#{item_order.item.id}" %></li>
      <li><%= link_to "#{item_order.item.merchant.name}", "merchants/#{item_order.item.merchant.id}" %></li>
      <li><%= number_to_currency(item_order.price) %></li>
      <li><%= item_order.quantity %></li>
      <li><%= number_to_currency(item_order.subtotal) %></li>
    </ul>
  </section>
  <% end %>
  <center>Number of Items in This Order: <%= order.items.count %>
  <section id="grandtotal">
    Total: <%= number_to_currency(order.grandtotal.to_i) %></center>
  </section>

  <center><section id="datecreated">
    Order Created On: <%= order.created_at %>
  </section></center>
<% end %>
