<h2>Change Your Password</h2>
<%= form_tag '/users/profile', method: :patch do %>

	<%= label_tag :password %>
	<%= password_field_tag :password %>

	<%= label_tag :confirm_password %>
	<%= password_field_tag :confirm_password %>

	<%= submit_tag "Change Password" %>
<% end %>
