<h1> My Items </h1>
<table>
  <thead>
    <th>Item</th>
    <th>Inventory</th>
    <th></th>
  </thead>
  <tbody>
  <% @merchant.items.each do |item|%>
  <tr id="item-<%= item.id %>">
    <td><%= link_to item.name, "/items/#{item.id}"  %> </td>
    <td><%= item.inventory %></td>
    <td>
      <%= button_to 'Deactivate', "/merchant/items/#{item.id}?status=deactivate", method: :patch, class: 'btn btn-danger' if item.active? %>
      <%= button_to 'Activate', "/merchant/items/#{item.id}?status=activate", method: :patch, class: 'btn btn-success' if item.not_active? %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
