<h2><%= @user.name %>'s profile</h2>


<h2>Name: <%= @user.name %></h2>
<h2>Address: <%= @user.address %></h2>
<h2>City: <%= @user.city %></h2>
<h2>State: <%= @user.state %></h2>
<h2>Zip: <%= @user.zip %></h2>
<h2>Email: <%= @user.email %></h2>

<%= link_to "Edit #{@user.name}'s Profile", "/admin/users/#{@user.id}/profile/edit" %>
<%= link_to "Edit #{@user.name}'s Password", "/admin/users/#{@user.id}/password/edit" %>
<%= link_to "Upgrade #{@user.name} to Merchant Employee", "/admin/users/#{@user.id}/upgrade_to_merchant_employee" %>
<%= link_to "Upgrade #{@user.name} to Merchant Admin", "/admin/users/#{@user.id}/upgrade_to_merchant_admin" %>
