<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>
    <link rel="icon" href="https://previews.123rf.com/images/teploleta/teploleta1507/teploleta150700265/42280450-hand-drawn-watercolor-coffee-cup-illustration.jpg">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/merchants">All Merchants</a>
          <a class="nav-item nav-link" href="/items">All Items</a>
          <a class="nav-item nav-link" href="/cart">Cart: <%= cart.total_items %></a>
          <% if current_user %>
            <%= link_to 'Logout' %>
          <% else %>
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/login">Login</a>
          <% end %>
        </div>
      </div>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
