<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <%= link_to "All Merchants", "/merchants"%>
      <%= link_to "All Items", "/items"%>
      <%= link_to "Cart: #{cart.total_items}", "/cart" unless current_admin? %>
			<%= link_to "Register", "/register" %>
      <% if current_default? %>
      <%= link_to "My Profile Page", "/profile" %>
      <p> Logged in as <%= @user.name %></p>
      <% end %>
      <% if current_admin? %>
      <%= link_to "Admin Dashboard", "/admin" %>
      <%= link_to "View All Users", "/admin/users" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
