<!DOCTYPE html>
<html>
  <head>
    <title>Monster Shop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class = "topnav">
      <% if current_merchant? %>
        <%= render "shared/merchantnav" %>
      <% elsif current_admin? %>
        <%= render "shared/adminnav" %>
      <% elsif current_user %>
        <%= render "shared/currentuser" %>
      <% else %>
        <%= render "shared/visitor" %>
      <% end %>
    </nav>
    <% flash.each do |name, msg| %>
      <div class= "<%=name%>-flash">
        <p><%= msg %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
